<a href="https://colab.research.google.com/github/soaresgaab/IA-Artigo/blob/main/ArtigoIA(Tratamento_Dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **--> Caregamento e Understanding do dataset**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

dataset1_path = '/content/drive/MyDrive/IA/dataset_artigo/train.csv'

In [3]:
df_1 = pd.read_csv(dataset1_path)
df_1

,Unnamed: 0,TransactionID_x,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,0,2987000,0,86400,68.50,4,13926,321.0,150.0,1,...,123,32.0,164,3,1,0,1,1,1,954
1,1,2987001,0,86401,29.00,4,2755,404.0,150.0,2,...,98,32.0,48,2,1,0,0,1,1,1727
2,2,2987002,0,86469,59.00,4,4663,490.0,150.0,3,...,44,24.0,132,3,0,0,1,1,0,1598
3,3,2987003,0,86499,50.00,4,18132,567.0,150.0,2,...,44,24.0,132,3,0,0,1,1,0,1598
4,4,2987004,0,86506,50.00,1,4497,514.0,150.0,2,...,44,24.0,40,3,1,0,1,1,0,723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,590535,3577535,0,15811047,49.00,4,6550,321.0,150.0,3,...,47,24.0,132,3,1,0,1,0,0,1598
590536,590536,3577536,0,15811049,39.50,4,10444,225.0,150.0,2,...,47,24.0,132,3,1,0,1,0,0,1598
590537,590537,3577537,0,15811079,30.95,4,12037,595.0,150.0,2,...,47,24.0,132,3,1,0,1,0,0,1598
590538,590538,3577538,0,15811088,117.00,4,7826,481.0,150.0,2,...,47,24.0,132,3,1,0,1,0,0,1598
590539,590539,3577539,0,15811131,279.95,4,15066,170.0,150.0,2,...,47,24.0,132,3,1,0,1,0,0,1598

In [4]:
df_1.head()

,Unnamed: 0,TransactionID_x,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,0,2987000,0,86400,68.5,4,13926,321.0,150.0,1,...,123,32.0,164,3,1,0,1,1,1,954
1,1,2987001,0,86401,29.0,4,2755,404.0,150.0,2,...,98,32.0,48,2,1,0,0,1,1,1727
2,2,2987002,0,86469,59.0,4,4663,490.0,150.0,3,...,44,24.0,132,3,0,0,1,1,0,1598
3,3,2987003,0,86499,50.0,4,18132,567.0,150.0,2,...,44,24.0,132,3,0,0,1,1,0,1598
4,4,2987004,0,86506,50.0,1,4497,514.0,150.0,2,...,44,24.0,40,3,1,0,1,1,0,723

In [5]:
df_1.isnull().sum()

Unnamed: 0         0
TransactionID_x    0
isFraud            0
TransactionDT      0
TransactionAmt     0
                  ..
id_36              0
id_37              0
id_38              0
DeviceType         0
DeviceInfo         0
Length: 436, dtype: int64

# **--> Seleção dos 19 preditores**

In [6]:
meus_preditores = ["isFraud", "TransactionAmt", "ProductCD", "DeviceType", "DeviceInfo", "R_emaildomain", "P_emaildomain", "addr1", "addr2",
              "card1", "card2", "card3", "card4", "C1", "C2", "C3", "C4", "C5", "C6"]

In [7]:
df_1 = df_1[meus_preditores]

# **--> Remoção de possíveis duplicatas**

In [8]:
df_1 = df_1[meus_preditores].drop_duplicates()

# **--> Inserção de técnicas abordadas no artigo**

Alguns registros
possuíam dados com valores nao preenchidos e, nesses casos, foi utilizado  imputation [Moepya et al. 2016]. Preditores categoricos foram transformados usando
CatBoost [Bourdonnaye and Daniel 2021]. Originalmente, os dados sao divididos em subconjuntos para treino e para teste. Entretanto, este trabalho adota uma
metodologia diferente para separação dos dados, conforme descrito na próxima
seção. Apenas o subconjunto de treino (cerca de 500 mil registros) foi usado,
sendo posteriormente dividido em treino e teste nos experimentos. O percentual
de transações fraudulentas nesse subconjunto é de 3,50%.

In [10]:
from sklearn.impute import SimpleImputer

col_num = df_1.select_dtypes(include=['number']).columns
col_cat = df_1.select_dtypes(exclude=['number']).columns

In [11]:
print(col_num)
print(col_cat)

Index(['isFraud', 'TransactionAmt', 'ProductCD', 'DeviceType', 'DeviceInfo',
       'R_emaildomain', 'P_emaildomain', 'addr1', 'addr2', 'card1', 'card2',
       'card3', 'card4', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6'],
      dtype='object')
Index([], dtype='object')

In [13]:
imputer_num = SimpleImputer(strategy='median')
df_1[col_num] = imputer_num.fit_transform(df_1[col_num])

In [15]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.8.0-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.26.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.5->category_encoders) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.5->category_encoders) (2025.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.6.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Downloading category_encoders-2.8.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.7/85.7 kB 7.9 MB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.8.0

In [18]:
from category_encoders.cat_boost import CatBoostEncoder

In [19]:
col_cat = ["ProductCD", "DeviceType", "DeviceInfo", "P_emaildomain", "R_emaildomain", "card4"]
df_1[col_cat] = df_1[col_cat].astype(str)

In [21]:
print(df_1["DeviceType"])

0         1.0
1         1.0
2         0.0
3         0.0
4         0.0
         ...
590533    0.0
590534    0.0
590535    0.0
590536    0.0
590537    0.0
Name: DeviceType, Length: 489140, dtype: object

Obs: Sem necessidade de aplicação do CastBoot, pois não há colunas categóricas.

# **--> Salvamento do dataset tratado**

In [22]:
df_1.to_csv('/content/drive/MyDrive/IA/dataset_artigo/dataset_treinado.csv', index=False)
print("Dataset tratado salvo com sucesso!")

Dataset tratado salvo com sucesso!